[project]
	description = myproject
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/patidarvinod (patidarvinod)
[access "refs/for/refs/*"]
	read = group user/patidarvinod (patidarvinod)
	push = group user/patidarvinod (patidarvinod)
	label-Code-Review = -2..+2 group user/patidarvinod (patidarvinod)
	label-Verified = -1..+1 group user/patidarvinod (patidarvinod)
	rebase = group user/patidarvinod (patidarvinod)
	removeReviewer = group user/patidarvinod (patidarvinod)
	submit = group user/patidarvinod (patidarvinod)
[access "refs/heads/*"]
	read = group user/patidarvinod (patidarvinod)
	create = group user/patidarvinod (patidarvinod)
	push = +force group user/patidarvinod (patidarvinod)
	pushMerge = group user/patidarvinod (patidarvinod)
[access "refs/tags/*"]
	push = +force group user/patidarvinod (patidarvinod)
	pushTag = group user/patidarvinod (patidarvinod)
	pushSignedTag = group user/patidarvinod (patidarvinod)
